a {
	text-decoration: none;
	color: #919191;
}
a:hover {
	text-shadow: 1px 0px 3px #84b3ff;
}
#automata {
	margin: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
body {
	margin: auto;
	width: 80%;
	font-family: 'Josefin Sans';
	/*font-size: 1.2em;*/
	/*word-wrap:break-word !important;*/
}
button {
	background-color:#eee;
	border: 1em;
	padding: 10px 10px;
	font-size: 0.8em;
	font-family: 'Josefin Sans';
	margin: 0.2em;
	transition:0.3s;
}
button:hover {
	background-color: #ccc;
}
button.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.3s;
}
button.accordion.active,
button.accordion:hover {
	background-color: #ddd;
}
button.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
button.accordion.active:after {
	content: "\2212";
}
.container {
	padding-bottom: 5px;
}
.blog-details-desktop {
	display:none;
	float: right;
	color: #c9c9c9;
	/*font-size: 0.8em;*/
}
.blog-details-mobile {
	display:block;
	float: right;
	color: #c9c9c9;
	font-size: 0.8em;
}


nav {
	margin: 0;
	/*margin-bottom: 1.5cm;*/
	width: 100%;
	display: block;
	font-size: 24px;
	/*position: fixed;*/
}
/*nav input {
	display: none;
}*/
nav > input {display: none;}
/*#icon-container > label {
	padding: 0;
	margin: 0;
	display: block;
	width: 1cm;
	height: 1cm;
}*/
#icon-container {
	position: fixed;
	top:0;
	padding: 0;
	/*padding-top: 0.25cm;*/
	/*padding-left: 0.25cm;*/
	width:1cm;
	height: 1cm;
	margin: 0;
	margin-left: -10%;
	/*margin-bottom: 50px;*/
	/*background-color: #eee;*/
	background: transparent;
	/*font-size: 20px;*/
	/*font-size: 0.5cm;*/
	color:#5ba1b2;
	z-index: 50;
	text-align: center;
	/*vertical-align: middle;*/
	/*z-index: 50;*/
}
/*#main-menu-icon {
	margin: 0;
	padding: 12px 10px;
}*/
#menu-toggle:checked ~ #nav-container {
	display: block;
}
#menu-toggle:checked ~ #icon-container {
	background-color: #eee;
	width: 4cm;
}
#nav-container {
	display: none;
	position: fixed;
	top:1cm;
	width: 4cm;
	background-color: white;
	margin: 0;
	margin-left: -10%;
	padding: 0;
	z-index: 50;
	
}

.dropdown {
	/*font-size: 20px;*/
	position: relative;
	display: block;
	/*margin: 12px 0;*/
	margin: 0;
	/*padding: 1ex 0;*/
	width: 4cm;
	padding: 0.25cm 0;
	border-bottom: 1px solid #aaa;
}

.dropdown ul {
	padding: 0;
	margin:0;
	/*margin-top: 8px;*/
	list-style-type: none;
	margin-top: 0.25cm;
}
.dropdown input {
	display: none;
}
#nav-container a:hover {
	text-shadow:none;
}
.dropbtn {
	background-color: white;
	/*background: none;*/
	/*background: transparent;*/
	padding-left: 0.5cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	padding-right: 1cm;
	/*width: 4cm;*/
	border: none;
	margin: 0;
	color:#666;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width:100%;
	/*margin-top: 100px;*/
	/*width: 120px;*/
	/*margin-top: 10px;*/
	/*min-width: 160px;*/
	z-index: 2;
}
.dropdown-content a {
	/*padding: 10px 10px;*/
	padding-left: 1cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	display: block;
	font-size: 18px;
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	border-top: 1px solid #5ba1b2;
}
.dropdown-content a:hover {
	text-shadow:none;
}
#leftmost {
	margin-left: 0;
}
/*.dropdown input {
	display: none;
}*/

div.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: 0.6s ease-in-out;
	opacity: 0;
}
div.panel.show {
	opacity: 1;
	max-height: 5000px;
}
/*footer {
	text-align: center;
	border-top: 1px solid #d5d5d5;
}
footer ul {
	padding: 0px;
}*/
/*footer ul li {
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: 1em;
	display: inline;
	float: none;
	vertical-align: bottom;
}*/
footer {
	text-align: center;
	margin: 1% 0;
/*	padding: 2% 0;*/
	border-top: 1px solid #aaa;
}
footer ul {
	list-style-type: none;
	display: block;
	margin:0;
	margin-bottom: 10px;
	padding:0;
	width: 100%;
}
footer ul li {
	display: inline-block;
	margin: 10px;
	margin-bottom: 0;
	vertical-align: middle;
}
h1 {
	font-size: 1.5em;
	font-family: 'Josefin Sans';
}
p {
	font-size: 1.2em;
	line-height: 1.4em;
	color: #333;
}
select {
	margin: 8px;
	height: 100%;
	padding: 4px;
	vertical-align: center;
}
ul.posts {
	margin: 0;
	padding: 0;
	list-style-type: none;
	/*margin: auto;*/
	/*padding-left: 5%;*/
	font-size: 1.2em;
}

ul.posts a {
	display: inline-block;
	font-size: 20px;
	max-width:70%;
}
ul.posts li {
	/*list-style: none;*/
	padding-bottom: 10px;
}

@media only screen and (max-width: 640px) {
	.dropdown input:checked ~ .dropbtn{
		background-color: #eee;
	}
	.dropdown input:checked ~ .dropdown-content {
		display: block;
	}
}

@media only screen and (min-width: 640px) {
	.blog-details-desktop {
		display: block;
	}
	.blog-details-mobile {
		display: none;
	}
	ul.posts a {
		font-size: 24px;
		max-width: 500px;
	}

	#mobile-menu-icon {
		display: none;
	}
	#icon-container {
		display: none;
	}
	nav {
		margin-bottom: 60px;
	}
	#nav-container {
		display: block;
		width: 100%;
		top: 0;
		padding: 0;
		background-color: white;
	}
	#leftmost {
		margin-left:10%;
	}
	.dropdown {
		display: inline-block;
		margin: 0;
		padding: 0.25cm 0;
		width:2.5cm;
		text-align: center;
		border: none;
	}
	.dropdown:hover {
		background-color: #eee;
	}
	.dropbtn {
		background: transparent;
		padding: 0;
		margin: 0;
	}
	.dropdown-content a {
		text-align: left;
		padding-left: 0.25cm;
	}
	.dropdown-content a:hover{
		color: white;
		text-shadow: none;
		background-color: #aaa;
	}

/*	.dropdown:hover .dropbtn {
		background-color: #eee;
		background: none;
		color: #5ba1b2;
	}*/

	.dropdown:hover .dropdown-content {
		display: block;
	}
	.dropdown:hover .dropbtn {
		/*background-color: #eee;*/
		color: #5ba1b2;
	}
}