body, html {
    height: 100%;
    margin: 0;
    cursor: default;
    /*overflow-y: scroll;*/
    /*position: absolute;*/
}
/*
l { overflow-y: scroll; }
body { position: absolute; }
*/

.background {
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: auto;
    overflow: auto;
    z-index: -2; /* move to back */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    margin: 0;
    padding: 0;
}

.site-banner {
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); 
    width: 100%;
    height: 10%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -0%);
    color: white;
    font: 14px arial, sans-serif;
    text-align: center;
    padding-top: 20px;
}

#info {
    background-color: #333333;
    height: 100%;
}

ul {
    list-style-type: none;
    text-align: center;
    /*margin: 0;
    padding: 0;*/
    overflow: hidden;
    background-color: #333333;
        /*margin: auto;*/
    /*width: 60%;*/
}

li {
    display: inline;
}

/*li:hover {
    color: red;
    cursor: pointer; 
}*/

li a {
    display: inline-block;
    color: white;
    text-align: center;
    /*padding: 16px;
    text-decoration: bold;*/  
}

button {
    cursor: pointer;
}

#photo {
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
    height: 100%;
    background-size: 100%;
    max-width: 100%;
    /*max-height: 100%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    overflow: auto;
    margin-top: none;
    z-index: -1; /* move to back */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.title-position {
    position: absolute;
    right: 50%;
    top: 95%;
    transform: translate(50%, -95%);
    text-align: center;
}

.text-box {
    background-color: black;
    color: black;
    padding: .5vmin;
    height: 5vmin;
    opacity: .4;
}

.text-block {
    background-color: black;
    color: white;
    padding: 5px 15px;
}

.banner {
    font: 14px arial, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.outline-text {
    padding-left: 20px;
    padding-right: 20px;
    text-shadow:
        -.5px -.5px 1px #000,
        .5px -.5px 1px #000,
        -.5px .5px 1px #000,
        .5px .5px 1px #000;
    color: white;
    /*position: relative;*/
    /*bottom: 50px;*/
    /*position: absolute;*/
}

#about {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background: none;
    border: none;
    padding: 10px 16px;
    /*font: 20px helvetica, sans-serif;*/
    font-family: "Raleway"; font-size: 50px;
    /*font-family: "Rubik"; font-size: 20px;*/
    /*text-align: center;*/
    text-decoration: none;
}

.text {
    color: white;
    /*padding-left: 1vmin;
    padding-right: 1vmin;*/
    padding: .9em .9em;
    background: none;
    border: none;
    /*padding: 10px 16px;*/
    /*font: 20px helvetica, sans-serif;*/
    /*font-family: "Raleway"; font-size: 20px;*/
    font-family: "Rubik"; font-size: .9em;
    /*text-align: center;*/
    text-decoration: none;
}

.drop-shadow {
    color: white;
    padding: .9em .9em;
    /*padding-left: 20px;
    padding-right: 20px;*/
    text-shadow:
        1px 1px 0 #000; /
    background: none;
    border: none;
    /*padding: 10px 16px;*/
    /*font: 20px helvetica, sans-serif;*/
    /*font-family: "Raleway"; font-size: 20px;*/
    font-family: "Rubik"; font-size: 10px;
    /*text-align: center;*/
    text-decoration: none;
}

h5 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow:
        1px 1px 0 #000; /
    
    background: none;
    border: none;
    padding: 10px 16px;
    /*font: 20px helvetica, sans-serif;*/
    /*font-family: "Raleway"; font-size: 20px;*/
    font-family: "Rubik"; font-size: 20px;
    text-align: center;
    text-decoration: none;

}

.drop-shadow:hover {
    opacity: .8;
}

.title {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    /*font-size: 50px;*/
    /*font-size: 2em;*/
    font-size: 5vmin;
}

.metadata {
    /*font: 1em courier, sans-serif;*/
    font: 2vmin courier, sans-serif;
    transform: translate(0%, -5vmin);
}

.index {
    font: 20px courier, sans-serif;
    left: 75%;
    bottom: 10%;
    transform: translate(-75%, -10%);   
}

.hidden {
    transition: visibility 0s 2s, opacity 2s linear;
    visibility: hidden;
    opacity: 0;      
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 1;
}

.arrows {
    position: absolute;
    border: none;
    outline: none;
    text-decoration: none;
    color: white;
    bottom: 50%;
    background-color: rgba(0, 0, 0, 0);
    font: 5vmin arial, sans-serif;
    cursor: pointer;
    /*text-shadow: 1px 1px red;*/
    text-shadow:
        -.5px -.5px .5px #000,
        .5px -.5px .5px #000,
        -.5px .5px .5px #000,
        .5px .5px .5px #000;
}

.text_2 {
    position: absolute;
    border: none;
    outline: none;
    text-decoration: none;
    color: white;
    text-shadow:
        -.5px -.5px .5px #000,
        .5px -.5px .5px #000,
        -.5px .5px .5px #000,
        .5px .5px .5px #000;
    background-color: rgba(0, 0, 0, 0);
    bottom: 4%;
    right: 50%;
    transform: translate(50%, 4%);
    font: 2vmin arial, sans-serif;
    /*cursor: pointer;*/
    
}

.left_arrow {
    left: 3%;
}

.right_arrow {
    right: 3%;
}

.down_arrow {
    bottom: 0%;
    left: 50%;
    transform: translate(50%, 0%);
    transform: rotate(90deg);
}

.arrows:hover {
    opacity: .8;
}

.row {
  margin: 0;
  padding: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /*padding: 0 4px;*/
}

/* Create 3 equal columns that sits next to each other */
.column {
  flex: 30%;
  max-width: 33.3%;
}

.preview-image {
    padding: none;
    width: 100%;
}

.preview-image:hover {
    opacity: .8;
    cursor: pointer;
}

.column img {
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/*@media screen and (max-width: 500px) {
  
}*/

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 300px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}*/
@media screen and (max-width: 480px) {
/*  html {
    font-size: xx-small;
    
    line-height: 120%;
  }*/

  

/*.title {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.metadata {
    font-size: 5px;
}*/

.column {
    flex: 50%;
    max-width: 50%;
  }

}
