body, html {
    height: 100%;
    margin: 0;
    cursor: default;
}

.background {
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    z-index: -2; /* move to back */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo {
    /*background-image: url("photos/IMG_3826-Edit-Edit-2-1.jpg");*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
    z-index: -1; /* move to back */
}

.text-block {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.banner {
    font: 14px arial, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.outline-text {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        2px 2px 0 #000;
    color: white;
    position: absolute;
}

#title {
    font-family: 'Open Sans Condensed';
    font-size: 72px;
    left: 51%;
    top: 31%;
    transform: translate(-51%, -31%);
}

#metadata {
    font: 25px courier, sans-serif;
    left: 25%;
    bottom: 25%;
    transform: translate(-25%, -25%);
}

.hidden {
    transition: visibility 0s 2s, opacity 2s linear;
    visibility: hidden;
    opacity: 0;      
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 1;
}

.arrows {
    position: fixed;
    border: none;
    outline: none;
    color: white;
    top: 50%;
    background-color: rgba(0, 0, 0, 0);
    font: 52px arial, sans-serif;
    cursor: pointer;
    text-shadow: 1px 1px red;
}

.left_arrow {
    left: 3%;
}

.right_arrow {
    right: 3%;
}

.arrows:hover {
    color: red;
}

