<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width">
			<title>{{ page.title }}</title>
			<!-- favicon -->
			<link rel="shortcut icon" type="image/png" href="{{ "../data/favicon.png?" | prepend: site.baseurl }}" >
			<!-- Load Mathjax stuff -->
			<!-- deprecated -->
			<!-- src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"> -->
			<!-- <script type="text/javascript" async
				src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script> -->
			<script type="text/javascript" async src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
			<script type="text/javascript" src="/js/transcendental_list.js"></script>
			<!-- Main stylesheets -->
			<link href='//fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/syntax.css">
			<!-- fontawesome for social media icons -->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		</head>
		<body>
			<nav>
				<input type="checkbox" id="menu-toggle"/>
				<span id="icon-container"><label for="menu-toggle" id="mobile-menu-icon">&#9776;</label></span>
				<ul id="nav-container">
					<li class="dropdown" id="leftmost">
						<a href="/" class="dropbtn">Home</a>
					</li>
					<li class="dropdown">
						<a href="/about" class="dropbtn">About</a>
					</li>
					<li class="dropdown">
						<a href="/links" class="dropbtn">Links</a>
					</li>
					<li class="dropdown">
						<a href="/blog" class="dropbtn">Blog</a>
					</li>
					<li class="dropdown">
						<label for="resume-toggle" class="dropbtn">Resume</label>
						<input type="checkbox" id="resume-toggle"/>
						<ul class="dropdown-content">
							<li><a href="/resume">Online</a></li>
							<li><a href="{{ "/data/Jesse_Jenks_Resume.pdf" | prepend: site.baseurl }}">PDF</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div>
			<!-- for the "What's this?" tabs -->
			<script>
			var acc = document.getElementsByClassName("accordion");
			for (let i = 0; i<acc.length; i++) {
				acc[i].onclick = function(){
				this.classList.toggle("active");
				this.parentNode.nextElementSibling.classList.toggle("show");
			  };
			};
			</script>
			<footer>
				<ul>
					<li>
						<a href="mailto:jesseendojenks@gmail.com">
							<i class="far fa-envelope fa-2x"></i>
						</a>
					</li>
					
					<li>
						<a style="color:black;" target="_blank" href="https://www.github.com/jessejenks">
							<i class="fab fa-github fa-2x"></i>
						</a>
					</li>
					
					<li>
						<!-- hex from the official brand guidelines -->
						<a style="color:#0077B5;" target="_blank" href="https://www.linkedin.com/in/jesse-endo-jenks">
							<i class="fab fa-linkedin fa-2x"></i>
						</a>
					</li>
					<!-- <li>Math, Computer Science student at <a href="http://www.pugetsound.edu/">UPS</a></li> -->
<!-- 				</ul>
				<ul style="margin-top:-0.8em;"> -->
					<li>
						<a target="_blank" href="http://p5js.org/">
							<img align="middle" title="p5js" alt="p5js" src="/data/p5js.png" height="32px" border="0">
						</a>
					</li>
					
					<!-- <a href="https://d3js.org"><img title="D3js" src="https://d3js.org/logo.svg" alt="D3js" height="22px"></a> -->
					<li>
						<a target="_blank" href="https://www.mathjax.org">
							<img align="middle" title="Powered by MathJax" src="https://cdn.mathjax.org/mathjax/badge/badge.gif" alt="Powered by MathJax" height="32px" border="0">
						</a>
					</li>

					<li>
						<a target="_blank" id="transcendental" style="display:inline-block; height:32px; line-height:32px; text-align:center; font-size:20px;"></a>
					</li>
					
					<!-- For tracking visits -->
					<div style="display:none;"><script type="text/javascript" src="//ra.revolvermaps.com/0/0/7.js?i=0hbv4cjt8yu&amp;m=7&amp;c=5ba1b2&amp;cr1=ffffff&amp;sx=0&amp;dds=0&amp;ds=20" async="async"></script></div>
				</ul>
				<script>
					var n = Math.floor(Math.random()*transcendentals.length);
					var t = document.getElementById('transcendental');
					t.href = transcendentals[n].link;
					t.innerText = transcendentals[n].number;
				</script>
			</footer>
		</body>
	</html>
